<template>
  <div class="nested">这里是嵌套页孙容器2的内容</div>
  <RouterView></RouterView>
</template>

<style lang="postcss" scoped>
.nested {
  background-color: rgb(206, 223, 94);
  width: 100%;
  height: 100%;
}
</style>
