<template>
  <div class="nested">这里是嵌套页孙容器1的内容</div>
  <RouterView></RouterView>
</template>

<style lang="postcss" scoped>
.nested {
  background-color: rgb(65, 180, 251);
  width: 100%;
  height: 100%;
}
</style>
