.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0.05;
  transform: scale(0.95);
  transform-origin: center;
}

.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all .3s ease;
}