<template>
  <div class="nested">这里是嵌套页子容器2的内容</div>
</template>

<style lang="postcss" scoped>
.nested {
  background-color: rgb(127, 82, 175);
  width: 100%;
  height: 100%;
  color: #fff;
}
</style>
